{% load mptt_tags %}


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Каталог
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% recursetree list_category %}
            <a class="dropdown-item" href="{% url 'product_list' node.url %}">
                {{ node.name }}
            </a>
        {% endrecursetree %}
    </div>
</li>