{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
    img {
      max-width: 100%;
      max-height: 100%;
    }

    h1 {
      font-size: 50px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    h2 {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
    }
    .contact__form .contact__form__title h2 {
	text-transform: uppercase;
	margin-bottom: 18px;
}


.contact__form .contact__form__title p {
	font-size: 15px;
	margin-bottom: 20px;
}


.contact__form form input {
	height: 46px;
	width: 100%;
	background: transparent;
	border: 1px solid #e1e1e1;
	font-size: 14px;
	color: #444444;
	padding-left: 20px;
	margin-bottom: 20px;
}


.contact__form form input:last-child {
	color: #444444;
}


.contact__form form textarea {
	height: 180px;
	width: 100%;
	background: transparent;
	border: 1px solid #e1e1e1;
	font-size: 14px;
	color: #444444;
	padding-top: 12px;
	padding-left: 20px;
	margin-bottom: 14px;
	resize: none;
}


.contact__form form textarea:last-child {
	color: #444444;
}


.contact__form form button {
	width: 100%;
}
  </style>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">О нас</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="{% static 'img/mike_pearson.jpg' %}">
          </div>

        <div class="col-lg-6 col-md-6">
            <div class="contact__form">
              <div class="contact__form__title">
                <h2></h2>
                  {{ about.text|safe }}
              </div>

            </div>
          </div>
    </div>
  </div>


</body>


{% endblock content %}